:root {
  --primary-color: #09d3ac;
  --secondary-color: #c6f2d6;
  --tertiary-color: #f3f4f6;
  --body-color: #c88cff;
  --white-color: #fff;
  --grey-color: #9ca3af;
  --lt-blue: #adeef1;
  --dk-blue: #11a8d5;
  --lt-green: #d1fae5;
  --dk-green: #10b981;
  --lt-pink: #fbcfe8;
  --dk-pink: #f50057;
  --lt-yellow: #fef3c7;
  --dk-yellow: #fbbf24;
  --lt-violet: #99aaff;
  --dk-violet: #5555e0;
  --primary-box-shadow: 8px 8px 16px #dfe7ed, -8px -8px 16px #ffffff;
  --secondary-box-shadow: 2px 4px 20px -1px rgb(0 0 0 / 3%),
    -1px -2px 20px -1px rgb(0 0 0 / 3%);
  --tertiary-box-shadow: 6.61px 6.61px 9px #e6eef5, -6.61px -6.61px 9px #faffff;
}
body {
  font-family: "Varela Round", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: horizontal;
}

.header-navigation {
  flex: 2;
  margin-block-end: 1.5em;
}

.header-navigation ul {
  display: flex;
  justify-content: space-between;
}

.header-nav-ul li:hover {
  background-color: #5555e0;
  border-radius: 10px;
  padding: 2rem 3rem 1;
  justify-content: center;
  cursor: pointer;
}

.top-name {
  margin: 1rem 1rem 1rem;
  font-weight: 700px;
  font-size: 1.3rem;
  color: #5555e0;
}

.nav-item {
  border-top: solid #5555e0;
  /* border-bottom: solid #5555e0; */
  color: black;
  padding: 1rem 1rem 1rem;
  border-radius: 0.5;
  font-size: 1.3rem;
  font-weight: 2rem;
}

.nav-item a:hover {
  font-weight: 10px;
  color:white;
}

.nav-item-logo {
  margin-right: 5rem;
}

.nav-list-item-font-color:hover
{
  color:white;
}

body > nav {
  grid-area: nav;
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 1.3rem 1rem 0 2rem;
  background-color: #ffff;
}

body > header {
  grid-area: head;
  display: flex;
  justify-content: space-between;
  padding: 0 5% 0 17%;
  min-width: 78%;
  position: relative;
  gap: 3rem;
  align-items: center;
  background-color: var(--white-color);
}

body > main {
  margin: 23px 240px 0;
  /* padding: 10px 10px 0; */
  border-radius: 0.5rem 0 0 0;
  border-top: black;
  padding: 0rem 3% 0;
  background-color: white;
}

.comp-nav ul {
  padding: 3rem 0;
  list-style: none;
}

.introduction {
  gap: 1rem;
}
.comp-nav ul li {
  padding: 0.8rem;
  align-items: center;
  list-style: none;
}

.comp-nav ul li:hover {
  background-color: #5555e0;
  border-radius: 10px;
  color: white;
  padding: 2rem 3rem 1;
  justify-content: center;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #5555e0;
}

.logo-font-effect:hover {
  color: #5555e0;
}

/* -------------------Intro-Page------------------- */

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: -1rem 12rem 0rem;
}

.logo-img {
  margin-right: 2rem;
}

.logo-font {
  color: #5555e0;
  margin-left: -3rem;
  margin-bottom: 4rem;
  font-size: 2.5rem;
  font-weight: 700px;
}
.parent-head {
  margin: auto;
  max-width: 700px;
  width: 80%;
  text-align: center;
  color: #333333;
  font-size: 3.5rem;
  font-weight: 700;
}

.sub-head {
  margin: auto;
  padding: 1rem 0 1.5rem;
  max-width: 750px;
  width: 90%;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: var(--text-color);
  font-weight: 400;
}

.btn-inner {
  display: inline;
}

.pad {
  padding: 1rem;
}

.dive-btn {
  margin-left: 16rem;
  background-color: #5555e0;
  color: white;
  outline: none;
  padding: 0.7rem 6rem;
  font-size: large;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.dive-btn-font {
  color: white;
}

.dive-btn:hover {
  background-color: rgb(151, 130, 248);
}


/*------------------------------------ AVATAR SECTION DESIGNING -----------------------------------*/
.sqr-avatar-img {
  width: 80px;
  height: 80px;
  background-size: cover;
  border-radius: 20px;
}

.square-avatar {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.round-avatar {
  display: flex;
  gap: 3rem;
}

.rnd-avatar-img {
  width: 80px;
  height: 80px;
  background-size: cover;
  border-radius: 50%;
}

.letter-avatar {
  display: flex;
  gap: 3rem;
}

.icon-avatar {
  display: flex;
  gap: 3rem;
}

.size-avatar {
  display: flex;
  gap: 3rem;
}

.avtar-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.avtarimg1 {
  display: flex;
  flex-direction: horizontal;
  gap: 1rem;
}

.component-heading {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 10px;
}

.s-size-avatar-img {
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50%;
}

.m-size-avatar-img {
  width: 70px;
  height: 70px;
  background-size: cover;
  border-radius: 50%;
}

.l-size-avatar-img {
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 50%;
}

.av-size {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--primary-box-shadow);
}

.letter-avatar-red {
  color: var(--lt-pink);
  background-color: var(--dk-pink);
}

.letter-avatar-yellow {
  background-color: var(--dk-yellow);
  color: var(--lt-yellow);
}

.letter-avatar-green {
  background-color: var(--dk-green);
  color: var(--lt-green);
}

.icon-avatar-insta {
  background-color: var(--dk-green);
  color: var(--lt-green);
}

.icon-avatar-insta {
  background-color: var(--dk-yellow);
  color: var(--lt-yellow);
}

.icon-avatar-twitter {
  background-color: var(--dk-pink);
  color: var(--lt-pink);
}
.icon-avatar-linkedin {
  background-color: var(--dk-green);
  color: var(--lt-green);
}

/* --------------------AVTAR SECTION END----------------------------- */

/*---------------------- ALERT SECTION DESIGNING-------------------------*/

.icon-color {
  color: var(--lt-green);
}
.success-alert-box {
  font-size: 18px;
  margin: 13px 14px;
  margin-right: 60px;
  height: 55px;
  width: 450px;
  border-radius: 10px;
  gap: 1rem;
  display: flex;
  flex-direction: horizontal;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--dk-green);
  box-shadow: var(--primary-box-shadow);
  border-color: black;
  color: var(--lt-green);
}

.warning-alert-box {
  font-size: 18px;
  margin: 13px 14px;
  margin-right: 60px;
  height: 55px;
  width: 450px;
  border-radius: 10px;
  gap: 1.5rem;
  display: flex;
  flex-direction: horizontal;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--dk-pink);
  box-shadow: var(--primary-box-shadow);
  border-color: black;
  color: var(--lt-green);
}

.info-alert-box {
  font-size: 18px;
  margin: 13px 14px;
  margin-right: 60px;
  height: 55px;
  width: 450px;
  border-radius: 10px;
  gap: 2rem;
  display: flex;
  flex-direction: horizontal;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--dk-blue);
  box-shadow: var(--primary-box-shadow);
  border-color: black;
  color: var(--lt-green);
}

.error-alert-box {
  font-size: 18px;
  margin: 13px 14px;
  margin-right: 60px;
  height: 55px;
  width: 450px;
  border-radius: 10px;
  gap: 2rem;
  display: flex;
  flex-direction: horizontal;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--dk-yellow);
  box-shadow: var(--primary-box-shadow);
  border-color: black;
  color: var(--lt-green);
}

.cross-icon {
  cursor: pointer;
}

/*--------------------------- Badge Desiging ------------------------------*/
/* -------------------Social Card----------------- */
.card-social {
  width: 29%;
  min-width: 100px;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 2rem;
  margin-top: 2rem;
  transition: 0.3s;
  box-shadow: #fff;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}

.card-social:hover {
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}

.card-social-top {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
}

.social-top-img {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 3px 3px 2px var(--shadow_lt);
}

.social-top-header {
  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
  padding: 0.5rem 1rem 0.5rem;
  font-family: sans-serif;
}

.social-middle-img {
  border-radius: 2px 2px 0 0;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.social-top-header {
  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
  padding: 0.5rem 1rem 0.5rem;
  font-family: sans-serif;
}

.card-social-bottom {
  text-align: start;
  font-size: 18px;
  justify-content: center;
  padding-left: 0.5rem;
}

.row-first {
  display: flex;
  flex-direction: horizontal;
  gap: 2rem;
}

.row-second {
  display: flex;
  flex-direction: horizontal;
  gap: 2rem;
}

.badge-holder-one {
  position: relative;
}

.badge-holder-two {
  position: relative;
}

.badge-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--primary-box-shadow);
}

.badge-btn {
  height: 15px;
  width: 15px;
  border-radius: 10px;
  border-color: white;
  box-sizing: border-box;
  position: relative;
  bottom: 1.1rem;
  right: 0.1rem;
  left: 2.8rem;
  background-color: var(--dk-yellow);
}
.icon-badge {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dk-blue);
  box-shadow: var(--primary-box-);
}

.badge-btn-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border-color: white;
  box-sizing: border-box;
  position: relative;
  top: 1.2rem;

  right: 0.1rem;
  left: 2.8rem;
  background-color: var(--dk-yellow);
}

/*------------------------------------------BUTTON-DESIGING--------------------------------------------------- */
.button-row {
  display: flex;
  flex-direction: horizontal;
  margin-bottom: 50px;
  gap: 3rem;
}

h3 {
  margin-bottom: 30px;
}

.green {
  background-color: var(--dk-green);
  color: var(--lt-green);
}

.btn {
  outline: none;
  padding: 0.8rem 1rem;
  font-size: large;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  box-shadow: var(--primary-box-shadow);
}

.pink {
  background-color: var(--dk-pink);
  color: var(--lt-green);
}

.link {
  outline: none;
  padding: 0.8rem 1rem;
  font-size: large;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  box-shadow: var(--primary-box-shadow);
}

.floating-btn-yellow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--dk-yellow);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--primary-box-shadow);
  outline: none;
  border: none;
}

.floating-btn-red {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--dk-pink);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--primary-box-shadow);
  outline: none;
  border: none;
}

.floating-btn-blue {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--dk-blue);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--primary-box-shadow);
  outline: none;
  border: none;
}

/* ----------------------------------------CARD-DECORATION----------------------------------- */
/* .showcomp {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */

.foundation-iframes {
  border: 0;
  transform: scale(1);
  overflow: hidden;
  border-radius: 1rem;
}

.mg2-0-1 {
  margin: 2rem 0 1rem;
}
.row-one {
  display: flex;
  flex-direction: horizontal;
}
.card-section-1 {
  max-width: 100%;
  max-height: 100%;
}

.card-box {
  width: 38%;
  min-width: 100px;
  background: #fff;
  border: 1px solid #ccc;
  /* margin-bottom: 2rem; */
  margin-top: 2rem;
  transition: 0.3s;
  box-shadow: #fff;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  margin: 1rem 2rem;
  /* max-width: 300px;
  position: relative;
  border-radius: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem; */
  box-shadow: var(--secondary-box-shadow);
}

.card-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  max-height: 300px;
  position: relative;
}

.like-btn-holder {
  display: flex;
  flex-direction: horizontal;
  gap: 9rem;
  margin-left: 9px;
  margin-bottom: 0rem;
}

.like-btn {
  color: #5555e0;
  background-color: var(--tertiary-color);
  border: 2px solid var(--dk-green);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--primary-box-shadow);
  outline: none;
  border: none;
}

.buy-btn {
  margin-bottom: 5px;
  margin-left: 18px;
  background-color: #5555e0;
  color: var(--lt-green);
  outline: none;
  padding: 0.7rem 5rem;
  font-size: large;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  box-shadow: var(--primary-box-shadow);
}

.card-badge {
  background-color: var(--dk-pink);
  color: var(--lt-pink);
  position: relative;
  left: 0.2rem;
  bottom: 16.1rem;
  width: 78px;
  padding: 0.3rem;
  clip-path: polygon(0% 0%, 71% 0%, 53% 50%, 69% 97%, 0 97%);
}

.card-badge-tilted {
  content: "Most Popular";
  font-size: 0.8rem;
  text-align: center;
  line-height: 19px;
  transform: rotate(45deg);
  width: 120px;
  background-color: var(--dk-pink);
  color: var(--lt-pink);
  display: block;
  position: relative;
  bottom: 17.5rem;
  left: 12.5rem;
  clip-path: polygon(
    120px 20px,
    90px -10px,
    30px -10px,
    0px 20px,
    10px 30px,
    110px 30px
  );
}

.cross {
  color: var(--dk-green);
}

.cross-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--lt-green);
  position: relative;
  bottom: 10rem;
  left: 16rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
}

.card-overlay {
  position: relative;
  border-radius: 1rem;
  box-sizing: border-box;
}

.card-overlay > .image-overlay {
  opacity: 0.7;
  border-radius: 1rem;
}

.image-overlay {
  width: 100%;
  max-width: 400px;
}

.text-overlay {
  position: absolute;
}

.card-overlay > h3 {
  top: 2rem;
  left: 1rem;
}

.h3 {
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 0;
  margin: 0px 0px;
}

.card-overlay > p {
  left: 0.8rem;
  bottom: 9rem;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.2rem 0;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.text-card {
  background: #fff;
  border: 1px solid #ccc;
  transition: 0.3s;
  box-shadow: #fff;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;

  margin: 1rem 2rem;
  max-width: 300px;
  min-width: 100px;
  position: relative;
}
.show-btn {
  margin-left: 18px;
  background-color: #5555e0;
  margin-bottom: 5px;
  color: var(--lt-green);
  outline: none;
  padding: 0.7rem 5rem;
  font-size: large;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

h3 {
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0rem 0;
  margin-bottom: 5px;
}

.ecomm-p {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.2rem 8px;
}

small {
  font-size: 1rem;
  font-weight: 300;
  padding: 0.1rem 0;
  margin-top: 2px;
}

/* ---------------Horizontal Card----------- */
.row-5 {
  border-radius: 1rem;
  padding: 1rem;
  background-color: #fff;
  max-width: 550px;
  box-shadow: var(--secondary-box-shadow);
}

.hori-card {
  display: flex;
  max-width: 500px;
  min-width: 100px;
  gap: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
}

.hori-card-img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 0.5rem;
}

.hori-card-info {
  padding: 1rem;
}

.card-quant {
  display: flex;
  gap: 1rem;
  position: relative;
  align-items: baseline;
}

.floating-minus-btn {
  color: white;
  background-color: #5555e0;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 1.5rem;
  right: 12.5rem;
  border: none;
  box-shadow: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: var(--primary-box-shadow); */
  outline: none;
  border: none;
}

.floating-plus-btn {
  color: white;
  background-color: #5555e0;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 1.5rem;
  right: 16.5rem;
  border: none;
  box-shadow: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: var(--primary-box-shadow); */
  outline: none;
  border: none;
}

.two {
  position: relative;
  top: 0.8rem;
  left: 2.8rem;
}

.checkout-btn {
  margin-left: 18px;
  background-color: #5555e0;
  color: var(--lt-green);
  outline: none;
  padding: 0.7rem 1rem;
  font-size: large;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  box-shadow: var(--primary-box-shadow);
}

.wishlist-btn {
  margin-left: 18px;
  background-color: #5555e0;
  color: var(--lt-green);
  outline: none;
  padding: 0.7rem 1rem;
  font-size: large;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  box-shadow: var(--primary-box-shadow);
}
/* ---------------------- Images-------------------*/

.images-section {
  display: flex;
  gap: 5rem;
}

.img-responsive {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.img-round {
  width: 100%;
  max-width: 270px;
  height: auto;
  border-radius: 50%;
}
/* ---------------input------------- */

.row {
  display: flex;
  gap: 10rem;
}
input {
  position: relative;
}

.input-txt {
  font-size: 14px;
  outline: none;
  width: 100%;
  resize: none;
  padding: 1rem 2rem;
  margin: 1rem;
  border: 2px solid var(--dk-violet);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 300px;
  position: relative;
}

.input-txt:hover {
  box-shadow: 0 0 1rem var(--dk-violet);
}

.input-txt-error {
  font-size: 14px;
  outline: none;
  width: 100%;
  resize: none;
  padding: 1rem 2rem;
  margin: 1rem;
  border: 2px solid var(--dk-pink);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 300px;
  box-shadow: var(--tertiary-box-shadow);
}

.input-txt-error:hover {
  box-shadow: 0 0 1rem var(--dk-pink);
}

.fit-label {
  position: relative;
  pointer-events: none;
  left: 39px;
  bottom: 50px;
  transition: 0.2s ease all;
  color: var(--primary-color);
}

.fit-label-error {
  position: absolute;
  pointer-events: none;
  left: 35px;
  top: 31px;
  transition: 0.2s ease all;
}

.fit-label-txtarea {
  position: relative;
  pointer-events: none;
  left: 2rem;
  bottom: 13rem;
  transition: 0.2s ease all;
  color: var(--primary-color);
}

.input-txt-warning {
  font-size: 14px;
  outline: none;
  width: 100%;
  resize: none;
  padding: 1rem 2rem;
  margin: 1rem;
  border: 2px solid var(--dk-yellow);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 300px;
  box-shadow: var(--tertiary-box-shadow);
}

.input-txt-warning:hover {
  box-shadow: 0rem 0rem 1rem var(--dk-yellow);
}

.input-txt-area {
  font-size: 14px;
  outline: none;
  width: 100%;
  resize: none;
  padding: 6rem 0rem;
  margin: 1rem;
  border: 2px solid var(--dk-green);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 300px;
  box-shadow: var(--tertiary-box-shadow);
}

.input-txt-area:hover {
  box-shadow: 0 0 1rem var(--dk-green);
}
/* -----------------------Modal--------------------- */

.btn-modal-pri {
  margin-left: 18px;
  background-color: #5555e0;
  color: var(--lt-green);
  outline: none;
  padding: 0.7rem 1rem;
  font-size: large;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.btn-modal-tri {
  margin-left: 18px;
  background-color: var(--tertiary-color);
  color: #5555e0;
  outline: none;
  padding: 0.7rem 1rem;
  font-size: large;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  border: 1px solid #ccc;
  transition: 0.3s;
  box-shadow: #fff;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  background-color: #99aaff;
  padding: 1rem;
  margin: 1rem;
  max-width: 500px;
  width: 100%;
  box-shadow: var(--secondary-box-shadow);
}

/*---------------------------Grids-----------------------------*/

.grid-section {
  display: flex;
  flex-direction: column;
}

.grid2 {
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
}

.grid3 {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-item {
  color: white;
  padding: 2rem;
  height: 0rem;
  width: 19rem;
}

.dk-blue {
  background-color: var(--dk-blue);
}
.dk-pink {
  background-color: var(--dk-pink);
}

.dk-green {
  background-color: var(--dk-green);
}

.dk-yellow {
  background-color: var(--dk-yellow);
}

.body-color {
  background-color: var(--body-color);
  border: 2px solid var(--dk-blue);
}

.lt-blue {
  background-color: var(--dk-blue);
}

.lt-pink {
  background-color: var(--lt-pink);
}
.primary {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.tertiary {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
}

.secondary {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  border: 2px solid var(--primary-color);
}

.tl-error {
  background-color: var(--lt-pink);
  color: var(--dk-pink);
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.2rem 0;
}

/* ------------------TOAST--------------- */
.toast {
  min-width: 100px;
  border: 1px solid #ccc;
  transition: 0.3s;
  box-shadow: #fff;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  padding: 1rem;
  max-width: fit-content;
  box-shadow: var(--primary-box-shadow);
  background-color: var(--dk-pink);
}

.tl-errpr {
  background-color: white;
  color: white;
}

.tl-content-error {
  border-left: 3px solid white;
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
  align-items: center;
}

.error-toast-font {
  color: white;
}

.error-circle {
  color: white;
}

.toast-lg {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  max-width: 500px;
  min-width: 100px;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--primary-box-shadow);
}

.tl-info {
  background-color: var(--lt-violet);
  color: white;
}

.toast-lg {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  max-width: 500px;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--primary-box-shadow);
}
/* ---------List---------- */

.ul-list {
  padding: 2rem;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.list-item:hover {
  background-color: #99aaff;
  box-shadow: 4px 5px 3px #8b8b8b70, -9.91px -9.91px 15px #f3f4f6;
  /* cursor: pointer; */
}
.list-item {
  font-size: 1.7rem;
  margin: 0.5rem 0;
  padding: 1rem;
  border-left: 3px solid #5555e0;
  border-radius: 1.5 1.5rem;
}

/* ------------------------------------------GRIDS------------------------------------------ */

.stacked-list-item {
  padding: 1rem;
  min-width: 100px;
  min-height: au;
  border: 2px solid #5555e0;
  border-bottom: 1px;
}

li {
  list-style: none;
}

.stacked-list-item:hover {
  background-color: #99aaff;
  border: 1px solid var(--dk-blue);
  cursor: pointer;
}

/* ----------------------Carbon Frames------------------------ */
.mg2-0-1 {
  margin: 2rem 0 1rem;
}

.foundation-iframes {
  border: 0;
  transform: scale(1);
  overflow: hidden;
  border-radius: 1rem;
}
