:root {
  --primary-color: #09d3ac;
  --secondary-color: #c6f2d6;
  --tertiary-color: #f3f4f6;
  --body-color: #f0f8ff;
  --white-color: #fff;
  --grey-color: #9ca3af;
  --lt-blue: #adeef1;
  --dk-blue: #11a8d5;
  --lt-green: #d1fae5;
  --dk-green: #10b981;
  --lt-pink: #fbcfe8;
  --dk-pink: #f50057;
  --lt-yellow: #fef3c7;
  --dk-yellow: #fbbf24;
  --primary-box-shadow: 8px 8px 16px #dfe7ed, -8px -8px 16px #ffffff;
  --secondary-box-shadow: 2px 4px 20px -1px rgb(0 0 0 / 3%),
    -1px -2px 20px -1px rgb(0 0 0 / 3%);
  --tertiary-box-shadow: 6.61px 6.61px 9px #e6eef5, -6.61px -6.61px 9px #faffff;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: horizontal;
}

.navbar {
  background-color: black;
  /* margin: 20px 20px; */
  padding: 20px 20px;
  border-bottom: ridge;
}

.sidebar {
  background-color: white;
  padding: 30px 40px;
  margin: 10px 20px;
  height: 406px;
  width: 120px;
  border-right: ridge;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  /* margin: 50px 50px; */
}

.wall {
  background-color: white;
  padding-left: 209px 50px;
  width: 100%;
  height: 100%;
  border: ridge;
}

section {
  padding: 100px 100px;
}

.sqr-avatar-img {
  width: 80px;
  height: 80px;
  background-size: cover;
  border-radius: 20px;
}

.avatar-img-holder {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.rnd-avatar-img {
  width: 80px;
  height: 80px;
  background-size: cover;
  border-radius: 50%;
}

.avtar-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding-left: 20px; */
  /* margin-left: 80px; */
}

.avtarimg1 {
  display: flex;
  flex-direction: horizontal;
  gap: 1rem;
}

.component-heading {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 10px;
}

.s-size-avatar-img {
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50%;
}

.m-size-avatar-img {
  width: 70px;
  height: 70px;
  background-size: cover;
  border-radius: 50%;
}

.l-size-avatar-img {
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 50%;
}

.letter-avatar-red {
  width: 50px;
  height: 50px;
  color: var(--dk-pink);
  background-color: var(--lt-pink);
  border-radius: 50%;
  text-align: center;
  font-weight: 10px;
  font-size: 16px;
}

.letter-avatar-yellow {
  width: 50px;
  height: 50px;
  background-color: var(--lt-yellow);
  color: var(--dk-yellow);
  border-radius: 50%;
  text-align: center;
  font-weight: 10px;
  font-size: 16px;
}

.letter-avatar-green {
  width: 50px;
  height: 50px;
  background-color: var(--lt-green);
  color: var(--dk-green);
  text-align: center;
  border-radius: 50%;
  font-weight: 10px;
  font-size: 16px;
}

/* .avtarimg2 {
  display: flex;
  flex-direction: horizontal;
  -ms-flex-align: start;
  justify-content: space-evenly;
  /* margin-left: 80px; */
/* padding-left: 20px;
} */

/* .avtar2 {
  background-image: url("avtarImages/avtar1.png");
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 50%;
} */
